<div class="message-container <%= "sender" if message.user.id == current_user.id %>" id="message-<%= message.id %>">
  <i class="author">
    <div class="author-name">
      <span><%= message.user.name %></span>
    </div>
    <div>
      <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
    </div>
  </i>
  <p><%= message.content %></p>
</div>