    <%# t.string "name"
    t.text "description"
    t.integer "status", default: 0
    t.integer "category"
    t.string "address" %>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <% @bars.each do |bar| %>
        <%= link_to bar_path(bar) do %>
          <div class="card-product my-2">
            <%= cl_image_tag( bar.photos.first.key ) %>
            <div class="card-product-infos">
              <h2><%= bar.name  %></h2>
              <p><%= bar.description  %></p>
              <div class="bar-category"><%= bar.category %></div>
                <div class="bar-status"><%= bar.status %></div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
