<div class="dark-background-bars" data-controller="show-map">
  <div data-controller="map-toggler" class="py-5">
    <div class="container px-3">
      <h2>Bars screening your game</h2>
    </div>
    
    <div class="text-center" data-action="click->map-toggler#toggle" id="toggleButton">
      <p data-map-toggler-target="toggleButton" data-action="click->show-map#initMapbox" class="btn btn-primary text-center mt-1">View map<i class="fas fa-map-marked-alt ml-2"></i></p>
    </div>
    
    <div class="container">
      <div class="container bar-div" data-map-toggler-target="barView">
        <% @bars.each do |bar| %>
          <%= link_to bar_path(bar) do %>
            <div class="bar-card mt-3">
              <%= cl_image_tag( bar.photos.first.key ) %>
              <div class="bar-card-infos">
                <h2 class="mt-2"><%= bar.name  %></h2>
                <p><%= bar.distance_to([session[:latitude].to_f, session[:longitude].to_f]).ceil(2) %> km away</p>
                <div>
                  <% if bar.rating == 0 %>
                    <p>Not rated yet</p>
                  <% else %>
                    <p class="my-1"><% bar.rating.times do %><i class="fas fa-star text-primary"></i><% end %></p>
                  <% end %>
                </div>
                <div class="d-flex align-items-center mt-2">
                  <% if bar.availability == 'Many spaces' %>
                    <i class="fas fa-check-circle text-success mr-2" id="many"></i>
                    <p class="text-center m-0">Available</p>
                  <% elsif bar.availability == 'Few spaces' %>
                    <i class="fas fa-exclamation-circle text-warning mr-2" id="few"></i>
                    <p class="text-center">Filling up</p>
                  <% elsif bar.availability == 'No spaces' %>
                    <i class="fas fa-ban text-danger mr-2" id="none"></i>
                    <p class="text-center">Full</p>
                  <% end %>
                </div>
    
                <div class="bar-category my-2"><%= bar.category %></div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="bar-div transition" id="map-container" data-map-toggler-target="mapView">
      <div id="map" data-show-map-target="map"
        style="width: 100vw; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>