    <%# t.string "name"
    t.text "description"
    t.integer "status", default: 0
    t.integer "category"
    t.string "address" %>

<div class="container">
  <div class="row">
    <div class="col-6">
      <% @bars.each do |bar| %>
        <div class="card-product my-2">
          <%= cl_image_tag( bar.photos.first.key ) %>
          <div class="card-product-infos">
            <h2><%= bar.name  %></h2>
            <p><%= bar.description  %></p>
            <p><%= bar.status  %></p>
            <span><%= bar.category  %></span>
          </div>  
        </div>
      <% end %>
    </div>
  </div>
</div>