 <div class="container dark-background-bars"> 
  <div class="container pt-3">
    <h2 class=""><strong>Your booking is confirmed! </strong></h2>
    <h5 class="pt-2"><strong>Venue selected: </strong></h5>
    <div class="bar-card my-4">
        <%= cl_image_tag( @bar.photos.first.key ) %>
        <div class="bar-card-infos">
          <h2 class="mt-2"><%= @bar.name  %></h2>
          <p>0.2 km away</p>
          <div>
            <% if @bar.rating == 0 %>
              <p>Not rated yet</p>
            <% else %>
              <p class="my-1"><% @bar.rating.times do %><i class="fas fa-star text-primary"></i><% end %></p>
            <% end %>
          </div>
          <div>
            <% if @bar.many_spaces? %>
              <p><i class="fas fa-check-circle text-success"></i> Many spaces available</p>
            <% elsif @bar.few_spaces? %>
              <p><i class="fas fa-exclamation-circle text-warning"></i> Few spaces available</p>
            <% elsif @bar.no_spaces? %>
              <p class="font-weight-bold"><i class="fas fa-ban text-danger"></i> No spaces available</p>
            <% end %>
          </div>
          <div class="bar-category my-2">
            <%= @bar.category %>
          </div>
        </div>
      
    </div>
  </div>
  <div class="container">
    <h5><strong>Your selected match: </strong></h5>
  </div>
  
  <%= render "matches/match_card", match: @match %>
  <div class="container">
    <h5 class="pt-2"><strong>Booked for:</strong> <%= pluralize @booking.number_of_people, "person" %></h5>
    <h5 class="pt-2"><strong>Date:</strong> <%= @booking.date.strftime("%d %b %Y") %> at <%= @booking.time.strftime("%-l:%M %p") %> </h5>
  </div>
</div>