<div class="container">
  <div class="row">
   <div class="col-12 col-md-6 h-50">
     <h3 class="pt-3"><strong>Manage bookings</strong></h3>
     <% @bookings.each do |booking| %>
     <div class="card-product my-2 py-3">
        <%= cl_image_tag( booking.bar.photos.first.key ) %>
        <div class="card-product-infos">
          <h2><%= booking.bar.name  %></h2>
          <p><%= booking.date  %></p>
          <p><%= booking.status.capitalize  %></p>
          <div class="d-flex justify-content-between">
            <% if booking.status != "accepted" %>
            <div>
              <%= link_to  "Accept", accepted_path(booking.id), method: :get, data: { confirm: "Are you sure?" }, class: "btn btn-outline-primary px-2 py-1 mr-2 mt-1" %>
            </div>
            <% end %>
            <div>
              <%= link_to  "Reject", booking_path(booking.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-primary px-2 py-1 mr-2 mt-1" %>
            </div>
          </div>
        </div>  
      </div>
      <% end %>
   </div>
  </div>
</div>