<div class="navbar sticky-top navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "https://i.imgur.com/kimisY5.png" %>
    <% end %>

  <% if user_signed_in? %>
    <%= cl_image_tag @profile.photo_url, class: "avatar", id: "navbarDropdown", data: { toggle: "collapse", target: "#navbarSupportedContent" }, 'aria-haspopup': true, 'aria-expanded': false %>
  <% else %>
    <div class="d-flex justify-content-center">
    <%= link_to "Sign up |", new_user_session_path %>
    <%= link_to "Login", new_user_session_path %>
    </div>
  <% end %>

  <div class="collapse navbar-collapse text-right" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto w-50 bg-white my-navbar-collapse">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Profile", profile_path(@profile), class: "dropdown-item" %>
        </li>
        <!-- needs to be hidden on desktop -->
        <li class="nav-item">
          <%= link_to "Manage bookings", dashboard_path, class: "dropdown-item" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </li>

      <% else %>
        <li class="nav-item">
          <%= link_to "Sign up |", new_user_session_path %>
          <%= link_to "Login", new_user_session_path %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

