<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1560609429-3e8703c59c67?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">
  <div class="container">
  <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
  <div class="search-form-control form-group">
     <h1>Be there by kickoff.</h1>  
     <h2>Find which bar is screening your match</h2>  
    <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Search by teams / game / bar" />
  </div>
</form>
    <button name="button" type="submit" class="btn btn-flat col text-center">
      Search
    </button>
    </div>
  </div>

 <div class="container">
  <h4 class="pt-4"><strong>Upcoming matches</h4></strong>
      <% @matches.each do |match| %>
        <div class="card-product w-80 m-3 card-match-info ">
          <div class="card-product-info px-1 w-100">
            <p class="league-style col text-center"><strong><%= match.league %> </p></strong>
            <p class="teams-style col text-center"><img src="https://i.imgur.com/zw66qlV.png" class="mr-1" width="25" height="25"><strong><%= match.home_team %> - <%= match.away_team %><img src="https://i.imgur.com/VQjPSV3.png" class="ml-1" width="25" height="25"></p></strong>
            <div class="d-flex justify-content-around">
                 <p class="date-style mr-5"><%= match.date %></p>
                  <div class="d-flex ml-4">
                   <h6><span class="badge badge-primary ml-5"><%= match.sports %></span></h6>
                 </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>




