<div class="card-product w-80 m-3 p-2 card-match-info ">
  <div class="card-product-info px-1 w-100 d-flex flex-column">
    <p class="league-style col text-center mb-1"><strong><%= match.league %></p></strong>
    <div class="d-flex flex-column align-items-center">
      <span class="font-weight-bold"><%= match.home_team %></span>
      <div class="d-flex justify-content-around w-100 align-items-center">
        <img src="<%= match.home_team_logo %>" width="40" height="40">
        <span>vs</span>
        <img src="<%= match.away_team_logo %>" width="40" height="40">
      </div>
      <span class="font-weight-bold"><%= match.away_team %></span>
    </div>
    <div class="d-flex justify-content-between align-items-center mt-2">
      <span class="date date-style"><%= match.date.strftime("%a %b %d, %Y, %H:%M") %></span>
      <span class="badge badge-primary"><%= match.sports %></span>
    </div>
  </div>
</div>
