<div class="container">
  <div class="row">
    <h4 class="pt-2 pl-4"><strong>Upcoming Matches of Barcelona</strong></h4>
    <div class="col-12">
      <%= form_tag matches_path, method: :get do %>
        <div class="mx-3 d-flex justify-content-between pt-2">
          <% SPORT_CATEGORY.each do |sport| %>
            <div class="tag-item">
                <input type="checkbox" name="sports[]" id="<%= sport %>" value="<%= sport %>" class="tag-selector">
                <label class="px-2 py-1" for="<%= sport %>"><%= sport %></label>
            </div>
          <% end  %>
        </div>
        <div class="text-right mx-3 pt-2">
          <button class="btn btn-outline-primary bg-white px-2 py-0" type="Submit"> Filter </button>
          <%= link_to "Reset", matches_path, class: "btn btn-outline-primary bg-white px-2 py-0" %>
        </div>
      <% end %>
    </div>

    <div class="col-12">
      <% @matches.each do |match| %>
        <%= link_to match_bars_path(match) do %>
          <div class="card-product w-80 m-3 p-2 card-match-info ">
            <div class="card-product-info px-1 w-100">
              <div class="league-style col text-center">
                <strong><%= match.league %></strong>
              </div>
              <div class="teams-style pt-3 col text-center">
                <img src="https://i.imgur.com/zw66qlV.png" class="mr-1" width="25" height="25">
                <strong>
                  <%= match.home_team %> - <%= match.away_team %>
                </strong>
                <img src="https://i.imgur.com/VQjPSV3.png" class="ml-1" width="25" height="25">

              </div>
              <div class="d-flex justify-content-between align-items-end">
                <p class="date-style">
                  <%= match.date.strftime("%A %B %y, %H:%M") %>
                </p>
                <div class="d-flex ml-4">
                    <span class="badge badge-primary mt-4 ml-5"><%= match.sports %></span>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

