<div class="container">
  <div class="row">
  <% if params[:location].present? %>
      <h4 class="pt-2 pl-4"><strong>Upcoming Matches in <%= params[:location] %></strong></h4>
    <% elsif params[:latitude].present? && params[:longitude].present? %>
      <h4 class="pt-2 pl-4"><strong>Upcoming Matches in <%= Geocoder.search([params[:latitude], params[:longitude]])
      .first.city_district %>, <%= Geocoder.search([params[:latitude], params[:longitude]]).first.city %></strong></h4>
    <% end %>
    <div class="col-12">
      <%= form_tag matches_path, method: :get do %>
        <div class="mx-3 d-flex justify-content-between pt-2">
          <% SPORT_CATEGORY.each do |sport| %>
            <div class="tag-item">
                <input type="checkbox" name="sports[]" id="<%= sport %>" value="<%= sport %>" class="tag-selector">
                <label class="px-2 py-1" for="<%= sport %>"><%= sport %></label>
            </div>
          <% end  %>
        </div>
        <div class="text-right mx-3 pt-2">
          <button class="btn btn-outline-primary bg-white px-2 py-0" type="Submit"> Filter </button>
          <%= link_to "Reset", matches_path, class: "btn btn-outline-primary bg-white px-2 py-0" %>
        </div>
      <% end %>
    </div>

    <div class="col-12">
      <% @matches.each do |match| %>
        <%= link_to match_bars_path(match) do %>
          <%= render "matches/match_card", match: match %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

