<!DOCTYPE html>
<html>
  <head>
    <title>MatchMapp | Find bars screening matches near you</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="icon" href="https://res.cloudinary.com/dliczkabg/image/upload/v1608195171/basketball-152-184778_k1evey.webp" sizes="32x32" type="image/jpg">
    <meta property="og:title" content="MatchMapp" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.matchmapp.live/" />
    <meta property="og:description" content="Find bars screening your team's match near you">
    <meta name="description" content="Never miss a game again! Make sure you are there by kickoff. We find you the bars screening your favorite games near you in the click of a button.">
    <meta property="og:image" content="https://res.cloudinary.com/dliczkabg/image/upload/v1608201196/barcelona-sports-bars_qcl64d.jpg" />
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body data-controller="location">
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>

    <%= render 'shared/location_form' %>
  </body>
</html>
